$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

:root {
    --transition: all 0.3s linear;
}

body {
    background-color: var(--bs-gray-200);
}

.sidebar-toggle {
    i {
        transition: var(--transition);
    }

    &.collapsed {
        i {
            transform: rotate3d(2, 2, 4, 360deg);
        }
    }
}

.sidebar {
    height: 100vh;
    width: calc(100% - 80px);
    background-color: var(--bs-white);
    padding: 10px 15px;
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    transition: var(--transition);
    transform: translate(-100%);

    @media (min-width: map-get($grid-breakpoints, 'sm')) {
        max-width: 500px;
    }

    &.collapsed {
        transform: translate(0);
    }
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        max-width: 75px;
    }
}

ul {
    padding: 0;
    margin: 0;

    &.social-icons {
        justify-content: center;
        display: flex;

        li {
            margin: 0 10px;
        }
    }

    &.links {
        li {
            @media (min-width: map-get($grid-breakpoints, 'md')) {
                font-size: 1rem;
            }
        }
    }

    li {
        list-style-type: none;
        font-size: 1.2rem;

        a {
            color: var(--bs-teal);
            text-decoration: none;
            transition: var(--transition);

            &:hover {
                color: var(--bs-gray-900);
            }
        }
    }
}